# dependencies
/node_modules

# builds
/bin
/dist

# dotenv
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# optional cache
.pnpm-debug.log
.pnpm-store
.pnp.*
.cache/
.vscode/
.idea/
*.tsbuildinfo

# npm publish config
.npmrc
.pnpmfile.cjs
.pnpm-debug.log


# test
coverage
